# Reticulate
### Pacote que permite a integração do R e do Python no mesmo ambiente, oference uma interface entre os dois.

In [2]:
# Instala o Reticulate em uma localização específica
library(reticulate)

In [4]:
# garante que o pacote pandas esteja disponível no ambiente Python que está sendo utilizado pelo reticulate
py_require("pandas")

In [6]:
pd <- import("pandas")

In [7]:
df_original <- pd$read_csv("Placement_Data_Full_Class.csv")
print(df_original)

    sl_no gender ssc_p   ssc_b hsc_p   hsc_b    hsc_s degree_p  degree_t workex
1       1      M 67.00  Others 91.00  Others Commerce    58.00  Sci&Tech     No
2       2      M 79.33 Central 78.33  Others  Science    77.48  Sci&Tech    Yes
3       3      M 65.00 Central 68.00 Central     Arts    64.00 Comm&Mgmt     No
4       4      M 56.00 Central 52.00 Central  Science    52.00  Sci&Tech     No
5       5      M 85.80 Central 73.60 Central Commerce    73.30 Comm&Mgmt     No
6       6      M 55.00  Others 49.80  Others  Science    67.25  Sci&Tech    Yes
7       7      F 46.00  Others 49.20  Others Commerce    79.00 Comm&Mgmt     No
8       8      M 82.00 Central 64.00 Central  Science    66.00  Sci&Tech    Yes
9       9      M 73.00 Central 79.00 Central Commerce    72.00 Comm&Mgmt     No
10     10      M 58.00 Central 70.00 Central Commerce    61.00 Comm&Mgmt     No
11     11      M 58.00 Central 61.00 Central Commerce    60.00 Comm&Mgmt    Yes
12     12      M 69.60 Central 68.40 Central Commerce    78.30 Comm&Mgmt    Yes
13     13      F 47.00 Central 55.00  Others  Science    65.00 Comm&Mgmt     No
14     14      F 77.00 Central 87.00 Central Commerce    59.00 Comm&Mgmt     No
15     15      M 62.00 Central 47.00 Central Commerce    50.00 Comm&Mgmt     No
16     16      F 65.00 Central 75.00 Central Commerce    69.00 Comm&Mgmt    Yes
17     17      M 63.00 Central 66.20 Central Commerce    65.60 Comm&Mgmt    Yes
18     18      F 55.00 Central 67.00 Central Commerce    64.00 Comm&Mgmt     No
19     19      F 63.00 Central 66.00 Central Commerce    64.00 Comm&Mgmt     No
20     20      M 60.00  Others 67.00  Others     Arts    70.00 Comm&Mgmt    Yes
21     21      M 62.00  Others 65.00  Others Commerce    66.00 Comm&Mgmt     No
22     22      F 79.00  Others 76.00  Others Commerce    85.00 Comm&Mgmt     No
23     23      F 69.80  Others 60.80  Others  Science    72.23  Sci&Tech     No
24     24      F 77.40  Others 60.00  Others  Science    64.74  Sci&Tech    Yes
25     25      M 76.50  Others 97.70  Others  Science    78.86  Sci&Tech     No
26     26      F 52.58  Others 54.60 Central Commerce    50.20 Comm&Mgmt    Yes
27     27      M 71.00  Others 79.00  Others Commerce    66.00 Comm&Mgmt    Yes
28     28      M 63.00  Others 67.00  Others Commerce    66.00 Comm&Mgmt     No
29     29      M 76.76  Others 76.50  Others Commerce    67.50 Comm&Mgmt    Yes
30     30      M 62.00 Central 67.00 Central Commerce    58.00 Comm&Mgmt     No
31     31      F 64.00 Central 73.50 Central Commerce    73.00 Comm&Mgmt     No
32     32      F 67.00 Central 53.00 Central  Science    65.00  Sci&Tech     No
33     33      F 61.00 Central 81.00 Central Commerce    66.40 Comm&Mgmt     No
34     34      F 87.00  Others 65.00  Others  Science    81.00 Comm&Mgmt    Yes
35     35      M 62.00  Others 51.00  Others  Science    52.00    Others     No
36     36      F 69.00 Central 78.00 Central Commerce    72.00 Comm&Mgmt     No
37     37      M 51.00 Central 44.00 Central Commerce    57.00 Comm&Mgmt     No
38     38      F 79.00 Central 76.00 Central  Science    65.60  Sci&Tech     No
39     39      F 73.00  Others 58.00  Others  Science    66.00 Comm&Mgmt     No
40     40      M 81.00  Others 68.00  Others  Science    64.00  Sci&Tech     No
41     41      F 78.00 Central 77.00  Others Commerce    80.00 Comm&Mgmt     No
42     42      F 74.00  Others 63.16  Others Commerce    65.00 Comm&Mgmt    Yes
43     43      M 49.00  Others 39.00 Central  Science    65.00    Others     No
44     44      M 87.00  Others 87.00  Others Commerce    68.00 Comm&Mgmt     No
45     45      F 77.00  Others 73.00  Others Commerce    81.00 Comm&Mgmt    Yes
46     46      F 76.00 Central 64.00 Central  Science    72.00  Sci&Tech     No
47     47      F 70.89  Others 71.98  Others  Science    65.60 Comm&Mgmt     No
48     48      M 63.00 Central 60.00 Central Commerce    57.00 Comm&Mgmt    Yes
49     49      M 63.00  Others 62.00  Others Commerce    68.00 Comm&Mgmt     No
50     50      F 50.00  Others 37.00  Others     Arts    52.00    Others     No
51     51      F 75.20 Central 73.20 Central  Science    68.40 Comm&Mgmt     No
52     52      M 54.40 Central 61.12 Central Commerce    56.20 Comm&Mgmt     No
53     53      F 40.89  Others 45.83  Others Commerce    53.00 Comm&Mgmt     No
54     54      M 80.00  Others 70.00  Others  Science    72.00  Sci&Tech     No
55     55      F 74.00 Central 60.00  Others  Science    69.00 Comm&Mgmt     No
56     56      M 60.40 Central 66.60  Others  Science    65.00 Comm&Mgmt     No
57     57      M 63.00  Others 71.40  Others Commerce    61.40 Comm&Mgmt     No
58     58      M 68.00 Central 76.00 Central Commerce    74.00 Comm&Mgmt     No
59     59      M 74.00 Central 62.00  Others  Science    68.00 Comm&Mgmt     No
60     60      M 52.60 Central 65.58  Others  Science    72.11  Sci&Tech     No
61     61      M 74.00 Central 70.00 Central  Science    72.00 Comm&Mgmt    Yes
62     62      M 84.20 Central 73.40 Central Commerce    66.89 Comm&Mgmt     No
63     63      F 86.50  Others 64.20  Others  Science    67.40  Sci&Tech     No
64     64      M 61.00  Others 70.00  Others Commerce    64.00 Comm&Mgmt     No
65     65      M 80.00  Others 73.00  Others Commerce    75.00 Comm&Mgmt     No
66     66      M 54.00  Others 47.00  Others  Science    57.00 Comm&Mgmt     No
67     67      M 83.00  Others 74.00  Others  Science    66.00 Comm&Mgmt     No
68     68      M 80.92  Others 78.50  Others Commerce    67.00 Comm&Mgmt     No
69     69      F 69.70 Central 47.00 Central Commerce    72.70  Sci&Tech     No
70     70      M 73.00 Central 73.00 Central  Science    66.00  Sci&Tech    Yes
71     71      M 82.00  Others 61.00  Others  Science    62.00  Sci&Tech     No
72     72      M 75.00  Others 70.29  Others Commerce    71.00 Comm&Mgmt     No
73     73      M 84.86  Others 67.00  Others  Science    78.00 Comm&Mgmt     No
74     74      M 64.60 Central 83.83  Others Commerce    71.72 Comm&Mgmt     No
75     75      M 56.60 Central 64.80 Central Commerce    70.20 Comm&Mgmt     No
76     76      F 59.00 Central 62.00  Others Commerce    77.50 Comm&Mgmt     No
77     77      F 66.50  Others 70.40 Central     Arts    71.93 Comm&Mgmt     No
78     78      M 64.00  Others 80.00  Others  Science    65.00  Sci&Tech    Yes
79     79      M 84.00  Others 90.90  Others  Science    64.50  Sci&Tech     No
80     80      F 69.00 Central 62.00 Central  Science    66.00  Sci&Tech     No
81     81      F 69.00  Others 62.00  Others Commerce    69.00 Comm&Mgmt    Yes
82     82      M 81.70  Others 63.00  Others  Science    67.00 Comm&Mgmt    Yes
83     83      M 63.00 Central 67.00 Central Commerce    74.00 Comm&Mgmt     No
84     84      M 84.00  Others 79.00  Others  Science    68.00  Sci&Tech    Yes
85     85      M 70.00 Central 63.00  Others  Science    70.00  Sci&Tech    Yes
86     86      F 83.84  Others 89.83  Others Commerce    77.20 Comm&Mgmt    Yes
87     87      M 62.00  Others 63.00  Others Commerce    64.00 Comm&Mgmt     No
88     88      M 59.60 Central 51.00 Central  Science    60.00    Others     No
89     89      F 66.00 Central 62.00 Central Commerce    73.00 Comm&Mgmt     No
90     90      F 84.00  Others 75.00  Others  Science    69.00  Sci&Tech    Yes
91     91      F 85.00  Others 90.00  Others Commerce    82.00 Comm&Mgmt     No
92     92      M 52.00 Central 57.00 Central Commerce    50.80 Comm&Mgmt     No
93     93      F 60.23 Central 69.00 Central  Science    66.00 Comm&Mgmt     No
94     94      M 52.00 Central 62.00 Central Commerce    54.00 Comm&Mgmt     No
95     95      M 58.00 Central 62.00 Central Commerce    64.00 Comm&Mgmt     No
96     96      M 73.00 Central 78.00  Others Commerce    65.00 Comm&Mgmt    Yes
97     97      F 76.00 Central 70.00 Central  Science    76.00 Comm&Mgmt    Yes
98     98      F 70.50 Central 62.50  Others Commerce    61.00 Comm&Mgmt     No
99     99      F 69.00 Central 73.00 Central Commerce    65.00 Comm&Mgmt     No
100   100      M 54.00 Central 82.00  Others Commerce    63.00  Sci&Tech     No
101   101      F 45.00  Others 57.00  Others Commerce    58.00 Comm&Mgmt    Yes
102   102      M 63.00 Central 72.00 Central Commerce    68.00 Comm&Mgmt     No
103   103      F 77.00  Others 61.00  Others Commerce    68.00 Comm&Mgmt    Yes
104   104      M 73.00 Central 78.00 Central  Science    73.00  Sci&Tech    Yes
105   105      M 69.00 Central 63.00  Others  Science    65.00 Comm&Mgmt    Yes
106   106      M 59.00 Central 64.00  Others  Science    58.00  Sci&Tech     No
107   107      M 61.08  Others 50.00  Others  Science    54.00  Sci&Tech     No
108   108      M 82.00  Others 90.00  Others Commerce    83.00 Comm&Mgmt     No
109   109      M 61.00 Central 82.00 Central Commerce    69.00 Comm&Mgmt     No
110   110      M 52.00 Central 63.00  Others  Science    65.00  Sci&Tech    Yes
111   111      F 69.50 Central 70.00 Central  Science    72.00  Sci&Tech     No
112   112      M 51.00  Others 54.00  Others  Science    61.00  Sci&Tech     No
113   113      M 58.00  Others 61.00  Others Commerce    61.00 Comm&Mgmt     No
114   114      F 73.96  Others 79.00  Others Commerce    67.00 Comm&Mgmt     No
115   115      M 65.00 Central 68.00  Others  Science    69.00 Comm&Mgmt     No
116   116      F 73.00  Others 63.00  Others  Science    66.00 Comm&Mgmt     No
117   117      M 68.20 Central 72.80 Central Commerce    66.60 Comm&Mgmt    Yes
118   118      M 77.00  Others 75.00  Others  Science    73.00  Sci&Tech     No
119   119      M 76.00 Central 80.00 Central  Science    78.00  Sci&Tech    Yes
120   120      M 60.80 Central 68.40 Central Commerce    64.60 Comm&Mgmt    Yes
121   121      M 58.00  Others 40.00  Others  Science    59.00 Comm&Mgmt     No
122   122      F 64.00 Central 67.00  Others  Science    69.60  Sci&Tech    Yes
123   123      F 66.50 Central 66.80 Central     Arts    69.30 Comm&Mgmt    Yes
124   124      M 74.00  Others 59.00  Others Commerce    73.00 Comm&Mgmt    Yes
125   125      M 67.00 Central 71.00 Central  Science    64.33    Others    Yes
126   126      F 84.00 Central 73.00 Central Commerce    73.00 Comm&Mgmt     No
127   127      F 79.00  Others 61.00  Others  Science    75.50  Sci&Tech    Yes
128   128      F 72.00  Others 60.00  Others  Science    69.00 Comm&Mgmt     No
129   129      M 80.40 Central 73.40 Central  Science    77.72  Sci&Tech    Yes
130   130      M 76.70 Central 89.70  Others Commerce    66.00 Comm&Mgmt    Yes
131   131      M 62.00 Central 65.00  Others Commerce    60.00 Comm&Mgmt     No
132   132      F 74.90  Others 57.00  Others  Science    62.00    Others    Yes
133   133      M 67.00  Others 68.00  Others Commerce    64.00 Comm&Mgmt    Yes
134   134      M 73.00 Central 64.00  Others Commerce    77.00 Comm&Mgmt    Yes
135   135      F 77.44 Central 92.00  Others Commerce    72.00 Comm&Mgmt    Yes
136   136      F 72.00 Central 56.00  Others  Science    69.00 Comm&Mgmt     No
137   137      F 47.00 Central 59.00 Central     Arts    64.00 Comm&Mgmt     No
138   138      M 67.00  Others 63.00 Central Commerce    72.00 Comm&Mgmt     No
139   139      F 82.00  Others 64.00  Others  Science    73.00  Sci&Tech    Yes
140   140      M 77.00 Central 70.00 Central Commerce    59.00 Comm&Mgmt    Yes
141   141      M 65.00 Central 64.80  Others Commerce    69.50 Comm&Mgmt    Yes
142   142      M 66.00 Central 64.00 Central  Science    60.00 Comm&Mgmt     No
143   143      M 85.00 Central 60.00  Others  Science    73.43  Sci&Tech    Yes
144   144      M 77.67  Others 64.89  Others Commerce    70.67 Comm&Mgmt     No
145   145      M 52.00  Others 50.00  Others     Arts    61.00 Comm&Mgmt     No
146   146      M 89.40  Others 65.66  Others  Science    71.25  Sci&Tech     No
147   147      M 62.00 Central 63.00  Others  Science    66.00 Comm&Mgmt     No
148   148      M 70.00 Central 74.00 Central Commerce    65.00 Comm&Mgmt     No
149   149      F 77.00 Central 86.00 Central     Arts    56.00    Others     No
150   150      M 44.00 Central 58.00 Central     Arts    55.00 Comm&Mgmt    Yes
151   151      M 71.00 Central 58.66 Central  Science    58.00  Sci&Tech    Yes
152   152      M 65.00 Central 65.00 Central Commerce    75.00 Comm&Mgmt     No
153   153      F 75.40  Others 60.50 Central  Science    84.00  Sci&Tech     No
154   154      M 49.00  Others 59.00  Others  Science    65.00  Sci&Tech    Yes
155   155      M 53.00 Central 63.00  Others  Science    60.00 Comm&Mgmt    Yes
156   156      M 51.57  Others 74.66  Others Commerce    59.90 Comm&Mgmt    Yes
157   157      M 84.20 Central 69.40 Central  Science    65.00  Sci&Tech    Yes
158   158      M 66.50 Central 62.50 Central Commerce    60.90 Comm&Mgmt     No
159   159      M 67.00  Others 63.00  Others  Science    64.00  Sci&Tech     No
160   160      M 52.00 Central 49.00  Others Commerce    58.00 Comm&Mgmt     No
161   161      M 87.00 Central 74.00 Central  Science    65.00  Sci&Tech    Yes
162   162      M 55.60  Others 51.00  Others Commerce    57.50 Comm&Mgmt     No
163   163      M 74.20 Central 87.60  Others Commerce    77.25 Comm&Mgmt    Yes
164   164      M 63.00  Others 67.00  Others  Science    64.00  Sci&Tech     No
165   165      F 67.16 Central 72.50 Central Commerce    63.35 Comm&Mgmt     No
166   166      F 63.30 Central 78.33  Others Commerce    74.00 Comm&Mgmt     No
167   167      M 62.00  Others 62.00  Others Commerce    60.00 Comm&Mgmt    Yes
168   168      M 67.90  Others 62.00  Others  Science    67.00  Sci&Tech    Yes
169   169      F 48.00 Central 51.00 Central Commerce    58.00 Comm&Mgmt    Yes
170   170      M 59.96  Others 42.16  Others  Science    61.26  Sci&Tech     No
171   171      F 63.40  Others 67.20  Others Commerce    60.00 Comm&Mgmt     No
172   172      M 80.00  Others 80.00  Others Commerce    72.00 Comm&Mgmt    Yes
173   173      M 73.00  Others 58.00  Others Commerce    56.00 Comm&Mgmt     No
174   174      F 52.00  Others 52.00  Others  Science    55.00  Sci&Tech     No
175   175      M 73.24  Others 50.83  Others  Science    64.27  Sci&Tech    Yes
176   176      M 63.00  Others 62.00  Others  Science    65.00  Sci&Tech     No
177   177      F 59.00 Central 60.00  Others Commerce    56.00 Comm&Mgmt     No
178   178      F 73.00 Central 97.00  Others Commerce    79.00 Comm&Mgmt    Yes
179   179      M 68.00  Others 56.00  Others  Science    68.00  Sci&Tech     No
180   180      F 77.80 Central 64.00 Central  Science    64.20  Sci&Tech     No
181   181      M 65.00 Central 71.50  Others Commerce    62.80 Comm&Mgmt    Yes
182   182      M 62.00 Central 60.33  Others  Science    64.21  Sci&Tech     No
183   183      M 52.00  Others 65.00  Others     Arts    57.00    Others    Yes
184   184      M 65.00 Central 77.00 Central Commerce    69.00 Comm&Mgmt     No
185   185      F 56.28  Others 62.83  Others Commerce    59.79 Comm&Mgmt     No
186   186      F 88.00 Central 72.00 Central  Science    78.00    Others     No
187   187      F 52.00 Central 64.00 Central Commerce    61.00 Comm&Mgmt     No
188   188      M 78.50 Central 65.50 Central  Science    67.00  Sci&Tech    Yes
189   189      M 61.80  Others 47.00  Others Commerce    54.38 Comm&Mgmt     No
190   190      F 54.00 Central 77.60  Others Commerce    69.20 Comm&Mgmt     No
191   191      F 64.00  Others 70.20 Central Commerce    61.00 Comm&Mgmt     No
192   192      M 67.00  Others 61.00 Central  Science    72.00 Comm&Mgmt     No
193   193      M 65.20 Central 61.40 Central Commerce    64.80 Comm&Mgmt    Yes
194   194      F 60.00 Central 63.00 Central     Arts    56.00    Others    Yes
195   195      M 52.00  Others 55.00  Others Commerce    56.30 Comm&Mgmt     No
196   196      M 66.00 Central 76.00 Central Commerce    72.00 Comm&Mgmt    Yes
197   197      M 72.00  Others 63.00  Others  Science    77.50  Sci&Tech    Yes
198   198      F 83.96  Others 53.00  Others  Science    91.00  Sci&Tech     No
199   199      F 67.00 Central 70.00 Central Commerce    65.00    Others     No
200   200      M 69.00  Others 65.00  Others Commerce    57.00 Comm&Mgmt     No
201   201      M 69.00  Others 60.00  Others Commerce    65.00 Comm&Mgmt     No
202   202      M 54.20 Central 63.00  Others  Science    58.00 Comm&Mgmt     No
203   203      M 70.00 Central 63.00 Central  Science    66.00  Sci&Tech     No
204   204      M 55.68  Others 61.33  Others Commerce    56.87 Comm&Mgmt     No
205   205      F 74.00  Others 73.00  Others Commerce    73.00 Comm&Mgmt    Yes
206   206      M 61.00  Others 62.00  Others Commerce    65.00 Comm&Mgmt     No
207   207      M 41.00 Central 42.00 Central  Science    60.00 Comm&Mgmt     No
208   208      M 83.33 Central 78.00  Others Commerce    61.00 Comm&Mgmt    Yes
209   209      F 43.00 Central 60.00  Others  Science    65.00 Comm&Mgmt     No
210   210      M 62.00 Central 72.00 Central Commerce    65.00 Comm&Mgmt     No
211   211      M 80.60  Others 82.00  Others Commerce    77.60 Comm&Mgmt     No
212   212      M 58.00  Others 60.00  Others  Science    72.00  Sci&Tech     No
213   213      M 67.00  Others 67.00  Others Commerce    73.00 Comm&Mgmt    Yes
214   214      F 74.00  Others 66.00  Others Commerce    58.00 Comm&Mgmt     No
215   215      M 62.00 Central 58.00  Others  Science    53.00 Comm&Mgmt     No
    etest_p specialisation mba_p     status salary
1     55.00         Mkt&HR 58.80     Placed 270000
2     86.50        Mkt&Fin 66.28     Placed 200000
3     75.00        Mkt&Fin 57.80     Placed 250000
4     66.00         Mkt&HR 59.43 Not Placed    NaN
5     96.80        Mkt&Fin 55.50     Placed 425000
6     55.00        Mkt&Fin 51.58 Not Placed    NaN
7     74.28        Mkt&Fin 53.29 Not Placed    NaN
8     67.00        Mkt&Fin 62.14     Placed 252000
9     91.34        Mkt&Fin 61.29     Placed 231000
10    54.00        Mkt&Fin 52.21 Not Placed    NaN
11    62.00         Mkt&HR 60.85     Placed 260000
12    60.00        Mkt&Fin 63.70     Placed 250000
13    62.00         Mkt&HR 65.04 Not Placed    NaN
14    68.00        Mkt&Fin 68.63     Placed 218000
15    76.00         Mkt&HR 54.96 Not Placed    NaN
16    72.00        Mkt&Fin 64.66     Placed 200000
17    60.00        Mkt&Fin 62.54     Placed 300000
18    60.00        Mkt&Fin 67.28 Not Placed    NaN
19    68.00         Mkt&HR 64.08 Not Placed    NaN
20    50.48        Mkt&Fin 77.89     Placed 236000
21    50.00         Mkt&HR 56.70     Placed 265000
22    95.00        Mkt&Fin 69.06     Placed 393000
23    55.53         Mkt&HR 68.81     Placed 360000
24    92.00        Mkt&Fin 63.62     Placed 300000
25    97.40        Mkt&Fin 74.01     Placed 360000
26    76.00        Mkt&Fin 65.33 Not Placed    NaN
27    94.00        Mkt&Fin 57.55     Placed 240000
28    68.00         Mkt&HR 57.69     Placed 265000
29    73.35        Mkt&Fin 64.15     Placed 350000
30    77.00        Mkt&Fin 51.29 Not Placed    NaN
31    52.00         Mkt&HR 56.70     Placed 250000
32    64.00         Mkt&HR 58.32 Not Placed    NaN
33    50.89         Mkt&HR 62.21     Placed 278000
34    88.00        Mkt&Fin 72.78     Placed 260000
35    68.44         Mkt&HR 62.77 Not Placed    NaN
36    71.00         Mkt&HR 62.74     Placed 300000
37    64.00        Mkt&Fin 51.45 Not Placed    NaN
38    58.00         Mkt&HR 55.47     Placed 320000
39    53.70         Mkt&HR 56.86     Placed 240000
40    93.00        Mkt&Fin 62.56     Placed 411000
41    60.00        Mkt&Fin 66.72     Placed 287000
42    65.00         Mkt&HR 69.76 Not Placed    NaN
43    63.00        Mkt&Fin 51.21 Not Placed    NaN
44    95.00         Mkt&HR 62.90     Placed 300000
45    89.00        Mkt&Fin 69.70     Placed 200000
46    58.00         Mkt&HR 66.53 Not Placed    NaN
47    68.00         Mkt&HR 71.63 Not Placed    NaN
48    78.00        Mkt&Fin 54.55     Placed 204000
49    64.00        Mkt&Fin 62.46     Placed 250000
50    65.00         Mkt&HR 56.11 Not Placed    NaN
51    65.00         Mkt&HR 62.98     Placed 200000
52    67.00         Mkt&HR 62.65 Not Placed    NaN

In [9]:
# Criar Cópia
df_no_salary <- df_original

In [11]:
# Remoção da ColunaSalary no dataframe
# 1- Verificar se coluna existe no dataframe

# Definindo o nome da coluna em uma variável
coluna <- "salary"

# Verificar se a coluna existe no DataFrame
if (coluna %in% colnames(df_no_salary)) {
    # Usando paste para concatenar e imprimir a mensagem
    print(paste("A coluna", coluna, "existe."))
    
    # Remover a coluna do DataFrame
    df_no_salary <- df_no_salary[, !colnames(df_no_salary) %in% coluna]
    print(paste("A coluna", coluna, "foi removida."))
} else {
    # Usando paste para concatenar e imprimir a mensagem
    print(paste("A coluna", coluna, "não existe."))
}

[1] "A coluna salary existe."
[1] "A coluna salary foi removida."

### Análise Exploratória de Dados (EDA)

In [13]:
df_original_r <- py_to_r(df_original)

In [15]:
head(df_original_r)

  sl_no gender ssc_p ssc_b   hsc_p hsc_b   hsc_s    degree_p degree_t  workex
1 1     M      67.00 Others  91.00 Others  Commerce 58.00    Sci&Tech  No
2 2     M      79.33 Central 78.33 Others  Science  77.48    Sci&Tech  Yes
3 3     M      65.00 Central 68.00 Central Arts     64.00    Comm&Mgmt No
4 4     M      56.00 Central 52.00 Central Science  52.00    Sci&Tech  No
5 5     M      85.80 Central 73.60 Central Commerce 73.30    Comm&Mgmt No
6 6     M      55.00 Others  49.80 Others  Science  67.25    Sci&Tech  Yes
  etest_p specialisation mba_p status     salary
1 55.0    Mkt&HR         58.80 Placed     270000
2 86.5    Mkt&Fin        66.28 Placed     200000
3 75.0    Mkt&Fin        57.80 Placed     250000
4 66.0    Mkt&HR         59.43 Not Placed    NaN
5 96.8    Mkt&Fin        55.50 Placed     425000
6 55.0    Mkt&Fin        51.58 Not Placed    NaN

In [17]:
summary(df_original_r)

     sl_no          gender              ssc_p          ssc_b
 Min.   :  1.0   Length:215         Min.   :40.89   Length:215
 1st Qu.: 54.5   Class :character   1st Qu.:60.60   Class :character
 Median :108.0   Mode  :character   Median :67.00   Mode  :character
 Mean   :108.0                      Mean   :67.30
 3rd Qu.:161.5                      3rd Qu.:75.70
 Max.   :215.0                      Max.   :89.40

     hsc_p          hsc_b              hsc_s              degree_p
 Min.   :37.00   Length:215         Length:215         Min.   :50.00
 1st Qu.:60.90   Class :character   Class :character   1st Qu.:61.00
 Median :65.00   Mode  :character   Mode  :character   Median :66.00
 Mean   :66.33                                         Mean   :66.37
 3rd Qu.:73.00                                         3rd Qu.:72.00
 Max.   :97.70                                         Max.   :91.00

   degree_t            workex             etest_p     specialisation
 Length:215         Length:215         Min.   :50.0   Length:215
 Class :character   Class :character   1st Qu.:60.0   Class :character
 Mode  :character   Mode  :character   Median :71.0   Mode  :character
                                       Mean   :72.1
                                       3rd Qu.:83.5
                                       Max.   :98.0

     mba_p          status              salary
 Min.   :51.21   Length:215         Min.   :200000
 1st Qu.:57.95   Class :character   1st Qu.:240000
 Median :62.00   Mode  :character   Median :265000
 Mean   :62.28                      Mean   :288655
 3rd Qu.:66.25                      3rd Qu.:300000
 Max.   :77.89                      Max.   :940000
                                    NA's   :67

In [19]:
colSums(is.na(df_original_r))

         sl_no         gender          ssc_p          ssc_b          hsc_p
             0              0              0              0              0
         hsc_b          hsc_s       degree_p       degree_t         workex
             0              0              0              0              0
       etest_p specialisation          mba_p         status         salary
             0              0              0              0             67

In [21]:
sapply(df_original_r, class)

         sl_no         gender          ssc_p          ssc_b          hsc_p
     "numeric"    "character"      "numeric"    "character"      "numeric"
         hsc_b          hsc_s       degree_p       degree_t         workex
   "character"    "character"      "numeric"    "character"    "character"
       etest_p specialisation          mba_p         status         salary
     "numeric"    "character"      "numeric"    "character"      "numeric"

In [23]:
lapply(df_original_r, function(col) length(unique(col)))

$sl_no
[1] 215

$gender
[1] 2

$ssc_p
[1] 103

$ssc_b
[1] 2

$hsc_p
[1] 97

$hsc_b
[1] 2

$hsc_s
[1] 3

$degree_p
[1] 89

$degree_t
[1] 3

$workex
[1] 2

$etest_p
[1] 100

$specialisation
[1] 2

$mba_p
[1] 205

$status
[1] 2

$salary
[1] 46

In [ ]:
install.packages("ggplot2")
library(ggplot2)

# Histograma de uma variável numérica (ex: 'a')
ggplot(df_original_r, aes(x = gender)) +
  geom_bar(fill = "steelblue") +
  theme_minimal()

# geom_bar() : Cria um gráfico de barras para variáveis categóricas no eixo X
# theme_minimal : Aplica um tema visual limpo e simples ao gráfico.

### 10 - A partir de df_original, crie o Data Frame df_no_status agora removendo a coluna status

In [27]:
py_require("scikit-learn")

In [28]:
sklearn <- import("sklearn.preprocessing")

In [30]:
le <- sklearn$LabelEncoder()

In [32]:
categorical_columns <- c("gender", "ssc_b", "hsc_b", "hsc_s", "degree_t", "workex", "specialisation", "status")

In [34]:
for (col in categorical_columns) {
  df_no_salary[[col]] <- le$fit_transform(df_no_salary[[col]])
}

In [36]:
head(df_no_salary)

  sl_no gender ssc_p ssc_b hsc_p hsc_b hsc_s degree_p degree_t workex etest_p
1 1     1      67.00 1     91.00 1     1     58.00    2        0      55.0
2 2     1      79.33 0     78.33 1     2     77.48    2        1      86.5
3 3     1      65.00 0     68.00 0     0     64.00    0        0      75.0
4 4     1      56.00 0     52.00 0     2     52.00    2        0      66.0
5 5     1      85.80 0     73.60 0     1     73.30    0        0      96.8
6 6     1      55.00 1     49.80 1     2     67.25    2        1      55.0
  specialisation mba_p status
1 1              58.80 1
2 0              66.28 1
3 0              57.80 1
4 1              59.43 0
5 0              55.50 1
6 0              51.58 0

In [89]:
df_no_status <- df_original

In [40]:
df_no_status <- df_original[!is.na(df_original$salary), ]

In [63]:
coluna <- "status"

# Verificar se a coluna existe no DataFrame
if (coluna %in% colnames(df_no_status)) {
    # Usando paste para concatenar e imprimir a mensagem
    print(paste("A coluna", coluna, "existe."))
    
    # Remover a coluna do DataFrame
    df_no_status <- df_no_status[, !colnames(df_no_status) %in% coluna]
    print(paste("A coluna", coluna, "foi removida."))
} else {
    # Usando paste para concatenar e imprimir a mensagem
    print(paste("A coluna", coluna, "não existe."))
}

[1] "A coluna status existe."
[1] "A coluna status foi removida."

In [81]:
head(df_no_status)

  sl_no gender ssc_p ssc_b   hsc_p hsc_b   hsc_s    degree_p degree_t  workex
1 1     M      67.00 Others  91.00 Others  Commerce 58.00    Sci&Tech  No
2 2     M      79.33 Central 78.33 Others  Science  77.48    Sci&Tech  Yes
3 3     M      65.00 Central 68.00 Central Arts     64.00    Comm&Mgmt No
4 4     M      56.00 Central 52.00 Central Science  52.00    Sci&Tech  No
5 5     M      85.80 Central 73.60 Central Commerce 73.30    Comm&Mgmt No
6 6     M      55.00 Others  49.80 Others  Science  67.25    Sci&Tech  Yes
  etest_p specialisation mba_p status     salary
1 55.0    Mkt&HR         58.80 Placed     270000
2 86.5    Mkt&Fin        66.28 Placed     200000
3 75.0    Mkt&Fin        57.80 Placed     250000
4 66.0    Mkt&HR         59.43 Not Placed    NaN
5 96.8    Mkt&Fin        55.50 Placed     425000
6 55.0    Mkt&Fin        51.58 Not Placed    NaN

In [46]:
categorical_columns2 <- c("gender", "ssc_b", "hsc_b", "hsc_s", "degree_t", "workex", "specialisation")

In [48]:
for (col in categorical_columns2) {
  df_no_status[[col]] <- le$fit_transform(df_no_status[[col]])
}

In [50]:
head(df_no_status)

  sl_no gender ssc_p ssc_b hsc_p hsc_b hsc_s degree_p degree_t workex etest_p
1 1     1      67.00 1     91.00 1     1     58.00    2        0      55.00
2 2     1      79.33 0     78.33 1     2     77.48    2        1      86.50
3 3     1      65.00 0     68.00 0     0     64.00    0        0      75.00
5 5     1      85.80 0     73.60 0     1     73.30    0        0      96.80
8 8     1      82.00 0     64.00 0     2     66.00    2        1      67.00
9 9     1      73.00 0     79.00 0     1     72.00    0        0      91.34
  specialisation mba_p salary
1 1              58.80 270000
2 0              66.28 200000
3 0              57.80 250000
5 0              55.50 425000
8 0              62.14 252000
9 0              61.29 231000

### 11 - Treine um modelo de regressão linear múltipla e preveja os salários (salary) das amostras que não possuem essa informação em df_no_status

In [52]:
preprocessing <- import("sklearn.preprocessing")
linear_model <- import("sklearn.linear_model")

# Etapa 1: Separar os dados com e sem salário
df_train <- df_original[!is.na(df_original$salary), ]
df_test  <- df_original[is.na(df_original$salary), ]

# Etapa 2: Remover a coluna status, se necessário
df_train <- df_train[, !colnames(df_train) %in% "status"]
df_test  <- df_test[, !colnames(df_test) %in% "status"]
# Colunas categóricas
categorical_columns3 <- c("gender", "ssc_b", "hsc_b", "hsc_s", "degree_t", "workex", "specialisation")

# Aplicar LabelEncoder a cada coluna, guardando os encoders
encoders <- list()
for (col in categorical_columns3) {
  le <- preprocessing$LabelEncoder()
  df_train[[col]] <- le$fit_transform(df_train[[col]])
  df_test[[col]] <- le$transform(df_test[[col]])  # aplicar mesma codificação no teste
  encoders[[col]] <- le  # salvar o encoder, caso queira usar depois
}

# Remover colunas não numéricas ou desnecessárias
# (ex: "nome" se existir — aqui assumimos que todas as colunas fora 'salary' são preditoras)
feature_columns <- setdiff(colnames(df_train), "salary")

# Treinar modelo de regressão linear
model <- linear_model$LinearRegression()
model$fit(df_train[, feature_columns], df_train$salary)

# Prever salários para o conjunto de teste
predicted_salaries <- model$predict(df_test[, feature_columns])

# Adicionar a previsão ao df_test
df_test$salary <- predicted_salaries

# Agora df_test contém os salários previstos
print(df_test)

LinearRegression()

    sl_no gender ssc_p ssc_b hsc_p hsc_b hsc_s degree_p degree_t workex etest_p
4       4      1 56.00     0 52.00     0     2    52.00        2      0   66.00
6       6      1 55.00     1 49.80     1     2    67.25        2      1   55.00
7       7      0 46.00     1 49.20     1     1    79.00        0      0   74.28
10     10      1 58.00     0 70.00     0     1    61.00        0      0   54.00
13     13      0 47.00     0 55.00     1     2    65.00        0      0   62.00
15     15      1 62.00     0 47.00     0     1    50.00        0      0   76.00
18     18      0 55.00     0 67.00     0     1    64.00        0      0   60.00
19     19      0 63.00     0 66.00     0     1    64.00        0      0   68.00
26     26      0 52.58     1 54.60     0     1    50.20        0      1   76.00
30     30      1 62.00     0 67.00     0     1    58.00        0      0   77.00
32     32      0 67.00     0 53.00     0     2    65.00        2      0   64.00
35     35      1 62.00     1 51.00     1     2    52.00        1      0   68.44
37     37      1 51.00     0 44.00     0     1    57.00        0      0   64.00
42     42      0 74.00     1 63.16     1     1    65.00        0      1   65.00
43     43      1 49.00     1 39.00     0     2    65.00        1      0   63.00
46     46      0 76.00     0 64.00     0     2    72.00        2      0   58.00
47     47      0 70.89     1 71.98     1     2    65.60        0      0   68.00
50     50      0 50.00     1 37.00     1     0    52.00        1      0   65.00
52     52      1 54.40     0 61.12     0     1    56.20        0      0   67.00
53     53      0 40.89     1 45.83     1     1    53.00        0      0   71.20
64     64      1 61.00     1 70.00     1     1    64.00        0      0   68.50
66     66      1 54.00     1 47.00     1     2    57.00        0      0   89.69
69     69      0 69.70     0 47.00     0     1    72.70        2      0   79.00
76     76      0 59.00     0 62.00     1     1    77.50        0      0   74.00
80     80      0 69.00     0 62.00     0     2    66.00        2      0   75.00
83     83      1 63.00     0 67.00     0     1    74.00        0      0   82.00
88     88      1 59.60     0 51.00     0     2    60.00        1      0   75.00
92     92      1 52.00     0 57.00     0     1    50.80        0      0   67.00
94     94      1 52.00     0 62.00     0     1    54.00        0      0   72.00
98     98      0 70.50     0 62.50     1     1    61.00        0      0   93.91
100   100      1 54.00     0 82.00     1     1    63.00        2      0   50.00
101   101      0 45.00     1 57.00     1     1    58.00        0      1   56.39
106   106      1 59.00     0 64.00     1     2    58.00        2      0   85.00
107   107      1 61.08     1 50.00     1     2    54.00        2      0   71.00
110   110      1 52.00     0 63.00     1     2    65.00        2      1   86.00
112   112      1 51.00     1 54.00     1     2    61.00        2      0   60.00
121   121      1 58.00     1 40.00     1     2    59.00        0      0   73.00
131   131      1 62.00     0 65.00     1     1    60.00        0      0   84.00
137   137      0 47.00     0 59.00     0     0    64.00        0      0   78.00
142   142      1 66.00     0 64.00     0     2    60.00        0      0   60.00
145   145      1 52.00     1 50.00     1     0    61.00        0      0   60.00
150   150      1 44.00     0 58.00     0     0    55.00        0      1   64.25
156   156      1 51.57     1 74.66     1     1    59.90        0      1   56.15
159   159      1 67.00     1 63.00     1     2    64.00        2      0   60.00
160   160      1 52.00     0 49.00     1     1    58.00        0      0   62.00
162   162      1 55.60     1 51.00     1     1    57.50        0      0   57.63
166   166      0 63.30     0 78.33     1     1    74.00        0      0   80.00
168   168      1 67.90     1 62.00     1     2    67.00        2      1   58.10
169   169      0 48.00     0 51.00     0     1    58.00        0      1   60.00
170   170      1 59.96     1 42.16     1     2    61.26        2      0   54.48
171   171      0 63.40     1 67.20     1     1    60.00        0      0   58.06
174   174      0 52.00     1 52.00     1     2    55.00        2      0   67.00
176   176      1 63.00     1 62.00     1     2    65.00        2      0   87.50
180   180      0 77.80     0 64.00     0     2    64.20        2      0   75.50
182   182      1 62.00     0 60.33     1     2    64.21        2      0   63.00
183   183      1 52.00     1 65.00     1     0    57.00        1      1   75.00
185   185      0 56.28     1 62.83     1     1    59.79        0      0   60.00
187   187      0 52.00     0 64.00     0     1    61.00        0      0   55.00
189   189      1 61.80     1 47.00     1     1    54.38        0      0   57.00
190   190      0 54.00     0 77.60     1     1    69.20        0      0   95.65
191   191      0 64.00     1 70.20     0     1    61.00        0      0   50.00
195   195      1 52.00     1 55.00     1     1    56.30        0      0   59.00
199   199      0 67.00     0 70.00     0     1    65.00        1      0   88.00
202   202      1 54.20     0 63.00     1     2    58.00        0      0   79.00
207   207      1 41.00     0 42.00     0     2    60.00        0      0   97.00
209   209      0 43.00     0 60.00     1     2    65.00        0      0   92.66
215   215      1 62.00     0 58.00     1     2    53.00        0      0   89.00
    specialisation mba_p   salary
4                1 59.43 317262.1
6                0 51.58 280071.3
7                0 53.29 213591.7
10               0 52.21 261721.8
13               1 65.04 259872.6
15               1 54.96 270563.3
18               0 67.28 284974.1
19               1 64.08 254594.8
26               0 65.33 321538.6
30               0 51.29 274491.6
32               1 58.32 254582.9
35               1 62.77 310647.4
37               0 51.45 265706.3
42               1 69.76 267080.7
43               0 51.21 275623.0
46               1 66.53 266631.9
47               1 71.63 281320.0
50               1 56.11 244063.8
52               1 62.65 298499.2
53               1 65.49 287244.7
64               1 59.50 272031.4
66               1 57.10 290463.7
69               1 59.24 242956.5
76               1 67.00 243158.9
80               1 67.99 300270.8
83               0 60.44 285249.2
88               1 59.08 298464.1
92               1 62.79 311203.2
94               1 55.41 286553.5
98               0 69.03 299619.3
100              0 59.47 315842.8
101              1 64.95 283797.2
106              1 55.30 309198.2
107              0 65.69 354660.0
110              1 56.09 315994.5
112              1 60.64 313115.5
121              1 58.81 279496.7
131              0 64.15 318637.2
137              0 61.58 280542.9
142              1 61.90 292228.1
145              0 58.52 280172.1
150              1 58.54 301245.1
156              1 65.99 321501.9
159              0 61.87 324107.9
160              1 60.59 281154.2
162              1 62.72 289276.8
166              0 74.56 308645.0
168              0 75.71 374206.6
169              1 58.79 267995.5
170              1 65.48 315996.5
171              1 69.28 282242.5
174              1 59.32 297531.7
176              1 60.69 322974.9
180              1 72.14 319519.0
182              1 60.02 302563.9
183              0 59.81 334706.8
185              1 57.29 247531.8
187              0 62.93 286762.7
189              0 56.13 282981.6
190              0 66.94 310135.8
191              0 62.50 280054.2
195              0 64.74 324151.8
199              1 71.96 318725.6
202              1 58.44 302200.2
207              0 53.39 317734.1
209              1 62.92 294165.2
215              1 60.22 314474.5

### 12 - Para as amostras que não possuem o atributo salary preenchidos em df_no_status, inclua o valor previsto pelo modelo de regressão linear múltipla

In [107]:
missing_salary_idx <- which(is.na(df_no_status$salary))

if (length(missing_salary_idx) == length(predicted_salaries)) {
  df_no_status$salary[missing_salary_idx] <- predicted_salaries
} else {
  print("Erro: número de salários previstos não bate com o número de salários ausentes.")
}

[1] "Erro: número de salários previstos não bate com o número de salários ausentes."

In [109]:
head(df_no_status)

  sl_no gender ssc_p ssc_b   hsc_p hsc_b   hsc_s    degree_p degree_t  workex
1 1     M      67.00 Others  91.00 Others  Commerce 58.00    Sci&Tech  No
2 2     M      79.33 Central 78.33 Others  Science  77.48    Sci&Tech  Yes
3 3     M      65.00 Central 68.00 Central Arts     64.00    Comm&Mgmt No
4 4     M      56.00 Central 52.00 Central Science  52.00    Sci&Tech  No
5 5     M      85.80 Central 73.60 Central Commerce 73.30    Comm&Mgmt No
6 6     M      55.00 Others  49.80 Others  Science  67.25    Sci&Tech  Yes
  etest_p specialisation mba_p status     salary
1 55.0    Mkt&HR         58.80 Placed     270000.0
2 86.5    Mkt&Fin        66.28 Placed     200000.0
3 75.0    Mkt&Fin        57.80 Placed     250000.0
4 66.0    Mkt&HR         59.43 Not Placed 317262.1
5 96.8    Mkt&Fin        55.50 Placed     425000.0
6 55.0    Mkt&Fin        51.58 Not Placed 280071.3